<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%=link_to "Restaurants", restaurants_path , :class => "navbar-brand px-2"%>
      <%=link_to "New restaurant", new_restaurant_path , :class => "navbar-brand px-2"%>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
